# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\c&c++语言记录\Hellowasm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
